@import 'assets/sass/index';

.user-form, .pass-form {
    width: 560px;

    .change-button {
        width: 160px;
    }

    .sendcode-button {
        width: 140px;
    }
}

.busy {
    position: fixed !important;
    width: 32px;
    height: 32px;
    left: 48%;
    top: 20%;
}

.active-link {
    background: #F0F0F0;
}

.edu-page, .history-page {
    width: 560px;
}