@import 'assets/sass/index';

.layout {
    max-width: 1024px;
    min-height: 100%;
    padding: 0;

    .main {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $color-primary-light-gray;
    }

    footer {
        min-height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        & .cursor-pointer {
            cursor: pointer;
        }
    }
}